<h1>AppGroup#index</h1>
<p>Find me in app/views/app_group/index.html.erb</p>

<%= Time.now %>

</br>

<%= link_to '[HomeGroup]', controller: 'home_groups', action: 'index' %>
<%= link_to '[InnerGroup]', controller: 'inner_groups', action: 'index' %>

</br>

<%= @location %>
