<h1>InnerGroup#index</h1>
<p>Find me in app/views/inner_group/index.html.erb</p>

<%= Time.now %>
</br>
<%= link_to '[AppGroup]', controller: 'app_groups', action: 'index' %>
<%= link_to '[HomeGroup]', controller: 'home_groups', action: 'index' %>
</br>
<%= @location %>
